.form-wrapper label {
  color: lightgrey;
}

.existing-avatar {
  height: 300px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.existing-cover {
  margin-bottom: 30px;
}

.remove-checkbox {
  margin-top: 5px;
  margin-left: 12px;
  margin-right: 12px;
}

.file-browser {
  background-color: white;
}

.update-btn {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 124px;
  height: 56px;
}

.save-changes {
  color: lightgrey;
}

.delete-message {
  color: white;
  font-size: 24px;
}

.delete-section {
  margin-bottom: 50px;
}
