<%= image_tag "https://res.cloudinary.com/dduochwyb/image/upload/v1565098503/HASHABLE/dd434c29f164e41f1f73126c5ddd79d2_ny76cs.jpg", alt: "background", class: 'bg', style: 'background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))' %>
<div class="container hero">
  <h1 id="title">Discover what people is thinking!</h1>
  <p>With Hasher you can read and share thoughts.</p>
  <div class="buttons d-flex justify-content-center" id="buttons">
    <%= link_to 'Sign-up', '/users/sign_up', class: 'btn btn-primary sign-up' %>
    <%= link_to 'Login', '/users/sign_in', class: 'btn btn-secondary login' %>
  </div>
</div>



