.feed-title {
  text-align: center;
  color: white;
  font-size: 48px;
  margin-bottom: 36px;
  border-bottom: solid 1px lightgrey;
}

.no-posts {
  text-align: center;
  color: #276BB1;
  font-size: 40px;
  margin-top: 28px;
}

#no-posts-bird {
  margin-top: 50px;
  margin-bottom: 50px;
}
